<footer class="footer-viralate py-4 mt-5">
    <div class="container text-center">
    
        
        <p class="small mt-2 px-md-5 mx-md-5" style="opacity: 0.9;"> 
            A Viralate é feita de voluntárias que conciliam trabalho, estudos e muito amor pelos animais.<br>
            Não temos espaço físico, mas temos lares cheios de carinho em Feliz e Bom Princípio/RS.
        </p>
        
            <div class="mb-3 d-flex justify-content-center gap-4">
            <a href="https://www.instagram.com/associacaoviralate/" target="_blank" class="text-white fs-3 icone-social" title="Instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/associacaoviralate" target="_blank" class="text-white fs-3 icone-social" title="Facebook"><i class="bi bi-facebook"></i></a>
        </div>
    </div>
</footer>